<nav class="navbar navbar-dark bg-inverse">
  <!-- Navbar content -->
  <a class="navbar-brand" href="#">TravelEasy</a>
</nav>
<div class="jumbotron jumbotron-fluid" style="background-image:url(./assets/banner.jpg)">
  <div class="container" style="background:transparent url(./assets/transparency.png) repeat 0 0">
    <h1 class="display-2">TravelEazy</h1>
    <p class="lead">Helping you find the cheapest flight to your favourite destinations.</p>
    <form class="form-inline">
    	<div class="form-group">
    		<label for="travelFrom">From</label>
    		<input type="text" class="form-control" id="travelFrom" placeholder="Type Departure City">
    	</div>
    	<div class="form-group">
    		<label for="travelTo">To</label>
    		<input type="text" class="form-control" id="travelTo" placeholder="Type Destination City">
    	</div>
    	<button type="submit" class="btn btn-primary">Search Flights</button>
    </form>
  </div>
</div>