/* Extra small devices (portrait phones, less than 34em)
   No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 34em and up) */
@media (min-width: 34em) {
	.imageheight {
		height: 20em;
		/* background-image: url(../assets/banner.jpg); */
	}
}

/* Medium devices (tablets, 48em and up) */
@media (min-width: 48em) {
	.imageheight {
		height: 20em;
		/* background-image: url(../assets/banner.jpg); */
	}
}

/* Large devices (desktops, 62em and up) */
@media (min-width: 62em) {
	.imageheight {
		height: 20em;
		/* background-image: url(../assets/banner.jpg); */
	}
	.headingtop {
		padding-top: 2em;
	}
	.formpadding {
		padding-bottom: 4em;
	}
}

/* Extra large devices (large desktops, 75em and up) */
@media (min-width: 75em) {
	.imageheight {
		height: 20em;
		/* background-image: url(../assets/banner.jpg); */
	}
}

.fontcolor{
	color: white;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);

}

.background {
	background-color: #7891c6;

}
.listbackground{
	background-color: #ffffff;
	color: black;
	margin-bottom: 1em;
}
.logo {
	background-image: url(../assets/logoSprite-2X.png);
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-top: 6px;
}



.IndiGo {
	background-position: 0px 0;
}
.Vistara {
	background-position: -60px 0;
}
.SpiceJet {
	background-position: -120px 0;
}
.Go {
	background-position: -180px 0;
}
.Air {
	background-position: -240px 0;
}
.Jet {
	background-position: -300px 0;
}
.AirAsia {
	background-position: -360px 0;
}

.AirCosta {
	background-position: -420px 0;
}








